[2017-02-10 08:02] theolof opened #1 "Adding Motion as pod interferes with UIImagePickerController"
Motion looks like an awesome library! Playing around with it now, and noticed something.

When adding the pod the delegates of `UIImagePickerControllerDelegate` is not called:
[code]
and
[code]
When removing Motion from the Podfile, the delegates work.

[2017-02-10 17:13] daniel-jonathan commented on #1
Thank you! I think Motion will be a good one :)

Can you send a sample so I can reproduce? I didn't use the UIImagePicker anywhere, but I could be overriding a delegation binding accidentally. Thank you!

[2017-02-13 10:19] theolof commented on #1
OK, this was really weird.
If I do it like this:
`let imagePicker = UIImagePickerController()` in the class header
`imagePicker.delegate = self` in viewDidLoad()
it works fine **without** Motion in the Podfile, but **not with** Motion in the Podfile.

If I do it like this:
[code]
in a local function just before I want to show the picker, it works **even** with Motion in the Podfile.

So, some weir

[2017-02-13 10:24] theolof commented on #1
Too soon...it works as I described above when I start with a new project.

When I try the above in my real project, it still doesn't work with Motion in the Podfile...

No idea how you can reproduce this, since I cannot send you the whole project. I'll see if I can debug some more.

[2017-02-13 19:00] daniel-jonathan commented on #1
I looked through Motion's code and think that this maybe the issue:

`Motion.swift`
[code]

Can you try taking that out and see if the issue persists? You may get another issue, but I want to know if the UIImagePickerController works correctly.

Thank you!

[2017-02-14 12:30] theolof commented on #1
No, it didn't help.

However, this helps:
[code]

[2017-02-14 19:22] daniel-jonathan commented on #1
Yes, the functions are only called when you set that value. I have an idea of how to fix it. I'll push an update to the `development` branch. I'll ping you when it is ready.

[2017-02-14 21:08] daniel-jonathan commented on #1
I released [Motion 1.0.3](https://github.com/CosmicMind/Motion/releases/tag/1.0.3), which requires a manual setting for the `isMotionEnabled` property by the `UIImagePickerController`. Give it a try and let me know :) Thank you!

[2017-02-14 21:08] #1 closed

[2017-02-15 09:08] theolof commented on #1
Yep, it works.

[2017-02-15 18:13] daniel-jonathan commented on #1
Sweet :) Thanks for bringing this to my attention.

[2017-02-16 18:36] ymkim50 opened #2 "Is there a way to know when the animation is complete?"
I am using the motion library very usefully.

However, I would like to have an event to know the end of motion.
We are currently using a function called delayedCall, but it would be nice to know this as an event.

Are you willing to support this?

Thank you for providing a good library.

[2017-02-16 18:46] daniel-jonathan commented on #2
Hey, thank you :) Happy you like it.

The functionality is already there. There are delegation calls you can tap into.

[code]

The delegation calls are called in their corresponding view controller. For example, if you are transitioning from VC A to VC B. The `willTransition` delegate call is called in VC A, and the `didTransition` is called in VC B.

That should do it :) Feel free to send more q

[2017-02-16 19:08] ymkim50 commented on #2
I'm sorry, my question is wrong.

I want to detect the completion of the animation in view.motion (...).

Is there a way to tell something like UIView.animate ()?

[2017-02-16 20:43] daniel-jonathan commented on #2
Ah... you want a completion callback, and or animation callback?

[2017-02-16 20:50] daniel-jonathan commented on #2
I made this a feature request. I will add this within the next couple days.

[2017-02-17 08:52] whitepixelstudios opened #3 "Jitter at animation end"
I've just updated our code to utilise the new Motion framework instead of the old one built in to Material.

Using the Motion.rotation(angle:) function on a FabButton (as primary button of a Material Menu) works fine in terms of animating the button. However, we're noticing a flash of the initial animation state at the end of the rotation ([GIF recording](https://giphy.com/gifs/26xBKdH9hDedUwyU8))

[2017-02-17 14:49] m-revetria commented on #2
+1 This would be a helpful feature. I have a case where I want to remove a view after an animation, now I'm using `DispatchQueue.asyncAfter` with the animation's duration to achieve it

[2017-02-17 15:03] m-revetria opened #4 "White flash when pushing/popping a view controller"
I want to push/pop a view controller with just a fade-in fade-out transition between them. I couldn't achieved it, instead I see the screen is flashing white in the middle of the transition. Please check out the GIF provided below for clarification.

Is there a way to have just a fade transition when pushing/popping view controllers?

![motion_flash_issue](https://cloud.githubusercontent.com/asset

[2017-02-17 16:01] m-revetria opened #5 "Support for custom timing functions"
Would be nice if we can use a custom timing function by passing the control points that define the animation curve.

[2017-02-17 18:18] daniel-jonathan commented on #5
Yes, that is a feature I want to add very soon. I will leave this up as a feature request and prioritize it. Thank you!

[2017-02-17 18:21] daniel-jonathan commented on #4
I will take a look at this.

[2017-02-17 18:27] daniel-jonathan commented on #3
Can you try using motion for this?

[code]

[2017-02-17 22:32] apptekstudios commented on #3
Thanks! That fixed the issue.

[2017-02-17 22:32] #3 closed

[2017-02-17 23:22] daniel-jonathan commented on #3
Awesome :)

[2017-02-17 23:23] daniel-jonathan commented on #4
Can you show me your code setup? As well, do you have a background color on your view controllers that are being transitioned?

[2017-02-18 08:44] ymkim50 commented on #2
Thank you for your response.

My suggestion is that completion is more appropriate.

[2017-02-20 16:27] m-revetria commented on #4
Hi, after reading your comment I tried to set `backgroundColor` of the view controllers to `.clear` and the white flash just disappeared but now there is no fade animation.

![motion_flash_issue](https://cloud.githubusercontent.com/assets/4791678/23129940/4b4cb0e2-f763-11e6-97b7-59f1253af600.gif)

I'm enabling Motion in `viewDidLoad` from both view controllers and also in the container navigation

[2017-02-20 17:39] daniel-jonathan commented on #4
Okay, I am going to make an addition that will help with making the fade work. I have some other additions I am making today to Motion, so I will update you through this issue once I am done. Thank you!

[2017-02-20 17:50] m-revetria opened #6 "Animate view that is not paired to previous view controller"
Hello!

How can a view that doesn't have a `motionIdentifier` or simply doesn't match any identifier from the previous view controller to be animated at the same time the presentation animation happens?

I tried to add animations to this view using `motionAnimations` but they seem that are not executed.

I additionally tried to use `view.motion(...)` to animate this view in `viewWillAppear` but if

[2017-02-20 17:52] daniel-jonathan commented on #6
There is a delegation method available. I am going to test it and add a sample with the updates I am making today.

[2017-02-23 14:09] AkiraTaki opened #7 "Is there a provided way to animate depth?"
I use both Material and Motion in my project. I'm wondering if there's a way to animate depth change?
If not, would you add it in the future?

Thanks in advance

[2017-02-23 16:56] daniel-jonathan commented on #7
I am combining Motion into Material for an enhanced Material feature set. I will try this out and let you know. I am doing this today, so I will get back to you shortly. There will still be a version of Motion that is standalone.

[2017-02-26 02:56] daniel-jonathan commented on #2
Hey, I added this, will be out in the next release, which will be done latest tomorrow. I will notify you once ready. Thank you!

[2017-02-26 03:25] daniel-jonathan commented on #7
I added this feature. It will be out in the next release :) Thank you!

[2017-02-26 05:18] AkitakiLab commented on #7
Great! Thanks for your hard work on this!

[2017-02-26 15:35] ymkim50 commented on #2
Thank you daniel.
I'll testing for next release and feedback any problem.

[2017-02-27 15:37] daniel-jonathan commented on #7
In [Motion 1.0.4](https://github.com/CosmicMind/Motion/releases/tag/1.0.4) you will be able to animate `depth` and its subparts (`shadowOffset`, `shadowOpacity`, `shadowRadius`). Thank you and all the best!

[2017-02-27 15:37] #7 closed

[2017-02-27 15:39] daniel-jonathan commented on #2
Hey, in [Motion 1.0.4](https://github.com/CosmicMind/Motion/releases/tag/1.0.4) you will be able to add a completion handler for motion calls. For example:

[code]

Thank you and all the best!

[2017-02-27 15:39] #2 closed

[2017-02-27 17:17] ymkim50 commented on #2
Thank you. I'll test right now. good job.

[2017-02-27 17:18] daniel-jonathan commented on #2
If you are using Material, I would wait 15 more minutes. I am launching Material 2.5, and that will have Motion built in for Material. Using both causes an issue with some extensions.

[2017-02-27 21:30] daniel-jonathan commented on #2
Okay, you are good to try it out. I had to actually make an update. Thank you!

[2017-02-27 23:30] ymkim50 commented on #2
I applied the update to my project and tried the test. The animation test went well.

I have another question, but I will leave it as a different topic. We will also apply the material kit later.

I would like to say that I am very grateful for the addition.

[2017-02-27 23:35] ymkim50 opened #8 "Does the ability to apply animations immediately exist?"
I expected the transform to be applied when I applied .duration (0.0) in the motion (...) function, but it did not.

The animation application I want is as follows.

Cell.transform = CGAffineTransform (scaleX: 0, y: 0)
Cell.motion ([. Scale (1), .duration (defaultTimeInterval), .timingFunction (.easeOut)])

I applied the first line to cell.motion (.scale (0), .duration (0)), but internally it seem

[2017-02-28 15:02] daniel-jonathan commented on #8
When you set the value of `0` as the duration, I believe it tells CAAnimation to use the default value. So the idea would be to set the duration to a really small value, such as `0.01`. That will be so fast that it will effectively be immediate. For example:

[code]

All the best :)

[2017-03-01 04:56] ymkim50 commented on #8
I confirmed that it works by the method I have given.

However, this approach can be confusing, so please consider supporting .duration (0).

Thank you for your reply.

[2017-03-01 15:18] daniel-jonathan commented on #8
I am going to add this as a feature request :) I agree with you.

[2017-03-02 00:11] ymkim50 commented on #8
Thank you daniel!

[2017-07-10 01:20] daniel-jonathan commented on #8
This is now supported in the next release. Thank you!

[2017-07-10 01:21] daniel-jonathan commented on #4
This should be fixed and will be pushed to `master` in the next release. Thank you!

[2017-07-10 01:22] daniel-jonathan commented on #5
This is now available in the next release. Thank you!

[2017-07-10 01:22] daniel-jonathan commented on #6
This is now available in the next release. Thank you!

[2017-07-19 17:35] #5 closed

[2017-07-19 17:37] #4 closed

[2017-07-19 17:38] #8 closed

[2017-07-19 17:38] #6 closed

[2017-07-19 21:37] daniel-jonathan commented on #4
The fix for this issue is in [Motion 1.1.0](https://github.com/CosmicMind/Motion/releases/tag/1.1.0).

[2017-07-19 21:37] daniel-jonathan commented on #8
The fix for this issue is in [Motion 1.1.0](https://github.com/CosmicMind/Motion/releases/tag/1.1.0).

[2017-07-19 21:37] daniel-jonathan commented on #5
The fix for this issue is in [Motion 1.1.0](https://github.com/CosmicMind/Motion/releases/tag/1.1.0).

[2017-07-19 21:37] daniel-jonathan commented on #6
The fix for this issue is in [Motion 1.1.0](https://github.com/CosmicMind/Motion/releases/tag/1.1.0).

[2017-07-25 07:29] ngbaanh opened #9 "Properties conflict with Apple's CoreMotion"
Some properties seem conflict with CoreMotion such as `isMotionEnabled`, `motionIdentifier`.
It shows
[code]
The problem happened on Xcode8.3, Swift3.
<img width="652" alt="screen shot 2017-07-25 at 2 32 20 pm" src="https://user-images.githubusercontent.com/14954130/28560777-1c1b8c3c-7146-11e7-8a33-f29fd5a5cd51.png">

[2017-07-25 08:06] daniel-jonathan commented on #9
Hey :) you shouldn't import the Motion framework with Material, as Material already imports it for you. Reopen the issue if you still have any problems. All the best.

[2017-07-25 09:18] ngbaanh commented on #9
@danieldahan Yes I tried as you said, but still not work (then I tried as the image shown above).
ps: I got this from Animation Sample Code.
<img width="1387" alt="screen shot 2017-07-25 at 4 14 46 pm" src="https://user-images.githubusercontent.com/14954130/28564842-83cdb658-7154-11e7-9cbd-65204ec05e03.png">

[2017-07-25 10:39] daniel-jonathan commented on #9
Make sure to include Material as an embedded framework:

<img width="1680" alt="screen shot 2017-07-25 at 6 33 31 am" src="https://user-images.githubusercontent.com/9982123/28568452-d2ed9812-7103-11e7-8af9-adc425e0dcb2.png">

I just ran the sample Animations project and all worked correctly.

Possibly, you may need to set `.delay(1)`, to `.delay(1.0)`, as it is a TimeInterval.

Let me know how it

[2017-07-26 02:32] ngbaanh commented on #9
Yeah, It worked following your way (manually add Material framework into the project), but for cocoapods it didn't work. Maybe the Material version of cocoapods was outdated (`2.6.3`) while the new way its version is `2.7.0`.
When I change `pod 'Material', '~> 2.0'` by default to `pod 'Material', '2.7.0'`, it works like a charm.

The issue should be ended. Thank you for your support.

[2017-07-26 21:19] daniel-jonathan commented on #9
Awesome! Also, sometimes when you update, you need to clear the CocoaPods cache. All the best!

[2017-07-26 21:19] #9 closed

[2017-07-28 07:16] Mahan3340 opened #10 "Transition Animations"
Hi, I don't get how to use TransitionAnimations , in the example bellow the gifs I change my VC class to UINavigationController but cant find the variable motionTransitionType (or something like that ) , and in the examples codes you just used default swift UIViewController and cant find such these methods or Variables to set to .zoom or what .. , can you explain how to use these animations ??

[2017-07-29 18:57] daniel-jonathan commented on #10
Have you had a chance to read through the documentation: https://www.gitbook.com/book/cosmicmind/motion/details ?

[2017-07-29 19:09] Mahan3340 commented on #10
yea i did dor sure but your example project has conflicts with your short code in documentation , in your exanole project u just used simple default uiviewcontroller and calling some prepare methods that include a variable that isnt found , in the doc u used navigationcontroller as class i did so bit still cant find a variable motiontype .. there ? so how should i use this ? use it az custom class

[2017-07-29 19:12] daniel-jonathan commented on #10
How are you including `Motion` within your project?

[2017-07-29 19:15] Mahan3340 commented on #10
using pods , its installed successfuly , and i have to mention that the variable isMotionEnabled is foud ( dont know it's yours or swift default)

[2017-07-29 19:27] daniel-jonathan commented on #10
In the sample I didn't import Motion because it is included in Material. You need to import Motion into your Swift files that use Motion's features. That should fix your issue :) if you need, please reopen or create a new issue.

[2017-07-30 06:05] Mahan3340 commented on #10
`
 import UIKit
import Material

class ConfirmVC: UIViewController {

      override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?) {
        super.init(nibName: nibNameOrNil, bundle: nibBundleOrNil)
    }
    required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)

    }
    override func viewDidLoad() {
        isMotionEnabled = true
         motionModa

[2017-07-30 06:08] Mahan3340 opened #11 "Transition Animations"
`
 import UIKit
import Material

class ConfirmVC: UIViewController {

      override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?) {
        super.init(nibName: nibNameOrNil, bundle: nibBundleOrNil)
    }
    required init?(coder aDecoder: NSCoder) {
        super.init(coder: aDecoder)

    }
    override func viewDidLoad() {
        isMotionEnabled = true
         motionModa

[2017-07-30 14:50] #11 closed

[2017-07-30 14:52] daniel-jonathan commented on #10
The first thing to notice is this is incorrect:

[code]

You should have it like this:

[code]

The second thing is that I am going to ask that you send over a sample project, because you should be able to use the Motion features. Can you send me a sample project that reproduces the issue?

[2017-07-30 15:23] Mahan3340 commented on #10
[Test.zip](https://github.com/CosmicMind/Motion/files/1185774/Test.zip)

this is test project created , I've added pods and installed them , and there are 2 VCs one name "fristVC"
thats the one importing material and have the error
(Thanks for the point you mentioned above)

[2017-07-31 18:27] daniel-jonathan commented on #10
I tested your project and it looks like you are using Material 2.6.3. Make sure you clear your pod cache.

<img width="571" alt="screen shot 2017-07-31 at 12 25 51 pm" src="https://user-images.githubusercontent.com/9982123/28792033-9d18d1b0-75eb-11e7-85cf-39c54978f04d.png">

Let me know how it works out :)

[2017-07-31 18:27] #10 closed

[2017-08-08 09:40] Ccmi opened #12 "Ambiguous use of 'motionIdentifier'"
![image](https://user-images.githubusercontent.com/17047142/29066034-9dd885fc-7c60-11e7-9767-36dc80426cf9.png)

[2017-08-08 10:01] #12 closed

[2017-08-08 12:27] daniel-jonathan commented on #12
If you are using Material, Motion is already added.

[2017-08-22 01:24] danieldahan opened #13 "Add replay feature to animations."
This should allow for a number of iterations the animations are played.

[2017-10-09 10:47] yasirmturk opened #14 "how to animate multiple uiview objects"
is there a way to animate multiple attributes of multiple uview objects using same motion duration delay etc.??? or in other words equivalent to `UIView.animate`
or
`Motion.animate(duration: 0.3, animations: {
                view.translate(x: 0, y: 100)
                view2.rotate(50)
            })`

[2017-10-09 13:49] daniel-jonathan commented on #14
You can do this:

[code]

The animation cycle will take the both of these in consideration and will also stack the animation if needed.

For UIView.animate ... all that actually does is allow the underlying layers to be animated. By default CALayers are animated when transitioning between property values. When using a UIView it disables that. So the UIView.animate function enables that once again.

[2017-10-09 13:49] #14 closed

[2017-10-09 14:11] yasirmturk commented on #14
no there is no issue doing it this way.. i was just looking for way so that when i animate many ui components they start and end at exact same time

[2017-10-09 14:17] daniel-jonathan commented on #14
Yeah, set the duration to the same value and all should work :) Also, you can stack animations during an already animating view. So if you did this:

[code]

That would work :)

[2017-10-09 14:23] yasirmturk commented on #14
great thanks

[2017-10-23 07:10] graphicgeared opened #15 "Is this supporting XCode 9 and Swift4"

[2017-10-23 21:47] daniel-jonathan commented on #15
Yes :) please use the latest and all should work.

[2017-10-23 21:47] #15 closed

[2017-10-26 19:27] glm4 opened #16 "Views alpha reseting to 1 after view disappear."
Im using a TabBarController with fadeIn and fadeOut transition modes.
My issue is that some subviews of one of the presenting view controllers are setting the alpha back to 1 after I animated them with fadeOut before exiting the view controller.
It sounds like a problem with the fade transitions used between view controllers and views being animated as well.

Update: Problem persist after removing

[2017-10-26 19:32] daniel-jonathan commented on #16
This is a linked issue: https://github.com/CosmicMind/Material/issues/853

[2017-10-26 19:33] daniel-jonathan commented on #16
I will be working on this either today or tomorrow :)

[2017-10-26 19:41] glm4 commented on #16
Very cool! Thanks a lot 😁

[2017-11-14 08:43] ghks1353 opened #17 "View blinks when popping view controller on UINavigationController"
First of all, sorry for my bad English.

I'm using `Motion` on my project in `UINavigationController`, view blinks with black color when pushing/pop view controller repeatedly after 10 times.

First 10 times of translation is OK and no glitches, but it blinks weirdly by repeating popping vieewcontroller a few times after.
Additional: And some subview blinks when pushing view controller after pushi

[2017-11-14 13:53] daniel-jonathan commented on #17
Nice find. Can you send over the sample project you are using so I can easily reproduce this? As well, is this only happening in the simulator?

[2017-11-15 00:54] ghks1353 commented on #17
I attached sample project archive. You can see screen is blink weirdly after pushing viewcontrollers a few times after, also you can see blinking navigation bar on the top when pushing vc every time.
I added some views (like `UIImageView`) in my sample and it also blinking weirdly.

I tested on my real device of iPhone X, iPhone 4s and iPhone 5s, not simulator.
Simulator works fine and no glitches

[2017-11-15 19:42] guoyingtao opened #18 "About extension CALayer: CAAnimationDelegate {}"
I found the following code in Motion+CALayer.swift
@available(iOS 10, *)
extension CALayer: CAAnimationDelegate {}

The problem is now I want to make my own customize CALayer which conforms CAAnimationDelegate. But because of the "extension CALayer: CAAnimationDelegate {}", it seems I can not do it.

Can you help me to work it out? Thank you.

[2017-11-15 20:32] daniel-jonathan commented on #18
Hey :) Yes, I can help.

Have you tried only adding the CAAnimationDelegate protocol when necessary? Or could you not extend CALayer with the current CAAnimationDelegate added? What is the error you are getting?

[2017-11-15 20:45] guoyingtao commented on #18
<img width="1188" alt="recordanimationlayer_swift" src="https://user-images.githubusercontent.com/26723384/32859214-d0e2c5ee-ca1b-11e7-801c-8ef6403f7974.png">
I attached the error screen shot.
RecordAnimationLayer is a subclass of CALayer

[2017-11-15 20:47] guoyingtao commented on #18
Currently, I delegate CAAnimationDelegate to another object, that object then invoke functions from RecordAnimationLayer. It works for the time being. But I still hope to get a better solution. :)

[2017-11-15 20:51] daniel-jonathan commented on #18
I'll take a look into this :)

[2017-11-15 21:02] guoyingtao opened #19 "Can I use different MotionTransitionType in one UIViewcontroller"
Say I have a UIViewController UV1 which is embedded in an AppNavigationController and Another two UIViewController UV2 and UV3. I want to push UV2 or UV3 from UV1.

[code]

The problem is both transitions for UV2 and UV3 is "zoom".
If I want the transition for UV2 is zoom, but the one for UV3 is "slide", what should I do to achieve it?
Thanks!

[2017-11-16 18:29] daniel-jonathan commented on #19
You can adjust the different motion transition in each view controller. So in VC2 you can add in the viewDidLoad method:

[code]

and so forth in the different view controllers. That is one way and a straight forward way to do so. If you need please reopen the issue for any further help on this topic. Thank you!

[2017-11-16 18:29] #19 closed

[2017-11-16 22:21] guoyingtao opened #20 "Animation compile error of .delay"
When I tried to code like following as the official documents said
animate([.rotate(270), .fadeOut, .scale(0.01), .delay(1)]){ [weak self] in
 }
Xcode gave me "Extra argument in call" compile error.
When I removed .delay(1), everything works fine again.

I also found I can not use .duration(1) like that neither.

[2017-11-19 19:08] daniel-jonathan commented on #20
Make sure you are using a TimeInterval value. So you may need to specify that in your declaration or add ".0", so 1 is "1.0". Try that, if you have any further issues, please reopen this. Thank you!

[2017-11-19 19:08] #20 closed

[2017-11-24 16:53] daniel-jonathan commented on #18
You should be able to subclass the extension independent of the extension I have added. If this is not possible, then let me know. Otherwise, there isn't much I can do.

[2017-11-24 16:53] #18 closed

[2017-11-24 16:58] daniel-jonathan commented on #17
Thank you! I am going to test this today.

[2017-12-01 14:51] guoyingtao commented on #20
I tried to set 1 to 1.0 just like the following
myView.animate([.rotate(270), .fadeOut, .scale(0.01), .delay(1.0)]){ [weak self] in
}
It still didn't work.
When I removed .delay(1.0), it worked again.

[2017-12-01 14:57] guoyingtao commented on #20
It seems I can not reopen the issues closed by you...

[2017-12-01 14:58] guoyingtao commented on #19
It works. Thank you very much!

[2017-12-02 15:58] guoyingtao opened #21 "RightBarButtonItem is unclickable when using Xcode 9 + ios 10"
When I use code as following, the rightBarButtonItem becomes unclickable (XCode 9 + ios 10),
But ios 11 is totally OK. When I changed back to normal UINavigationController, everything is OK again. Would you like to check this problem since there are many people who are still using ios 10.
Thanks a lot!

[code]

[2017-12-04 14:52] daniel-jonathan commented on #21
Can you try removing this line `isMotionEnabled = true`, it is set already upon creating the NavigationController. If that doesn't help, please send over a reproducible project.

Thank you!

[2017-12-04 16:25] daniel-jonathan commented on #19
Any time :)

[2017-12-04 16:26] daniel-jonathan commented on #20
Would you mind sending me a sample?

[2017-12-05 19:47] daniel-jonathan commented on #21
Hey! I have not heard from you, so please reopen this issue if you need help. Thank you!

[2017-12-05 19:47] #21 closed

[2017-12-08 14:17] daniel-jonathan commented on #17
Looking at this now. Thank you!

[2017-12-15 03:18] yunzixun opened #22 "Compared with Hero, which is better?"
https://github.com/lkzhao/Hero

[2017-12-20 19:43] daniel-jonathan commented on #17
Please give [Motion 1.3.0](https://github.com/CosmicMind/Motion/releases/tag/1.3.0) a try. If the issue persists, please reopen it. Thank you!

[2017-12-20 19:43] #17 closed

[2017-12-20 19:44] daniel-jonathan commented on #22
You need to add the [Material](http://github.com/CosmicMind/Material) framework to the sample project.

[2017-12-20 19:44] daniel-jonathan commented on #16
Please give [Motion 1.3.0](https://github.com/CosmicMind/Motion/releases/tag/1.3.0) a try. If the issue persists, please reopen it. Thank you!

[2017-12-20 19:44] #16 closed

[2018-01-03 04:12] guoyingtao opened #23 "How to hide back button when using UINavigationController transition"
I want to use my own back button when I push an UIViewController by UINavigationController transition. I tried navigationItem.setHidesBackButton(true, animated: true), but it did not work.

[2018-01-03 20:33] daniel-jonathan commented on #23
When you say you want to use your own back button, do you mean changing the image? If so, you only need to set the `NavigationBar.backButtonImage` property. Here is one option of how to do so:

[code]

If you need any further help, please reopen this issue. Thank you!

[2018-01-03 20:33] #23 closed

[2018-01-05 01:25] guoyingtao commented on #23
Thanks for your reply.
My problem is that I have an UIViewController which has two status: normal and edit mode. When it is in edit mode, I want to change "back button" to another button and when it is in normal model, I want to change it to "back button" again. So what I want to do is to hide the "back button" when edit mode.

[2018-01-05 17:04] daniel-jonathan commented on #23
If you use the `ToolbarController`, it looks identical to the NavigationController, and allows that sort of customization. Take a look at that, and it may work better for you. Otherwise, I can look into a solution with the NavigationController with you.

[2018-01-07 01:01] guoyingtao commented on #23
Thanks for your reply!
I am using a normal UIViewController not ToolbarController.

[2018-01-07 19:46] OrkhanAlikhanov opened #24 "viewWillAppear etc. is not called MotionTransition"
As of 1.3.2 `viewWillAppear(_:)`, `viewWillDisappear(_:)`, `viewDidAppear(_:)`, and `viewDidDisappear(_:)` are not invoked when we make transitions through `MotionTransition` since you removed calls to [`beginAppearanceTransition(_:animated:)`](https://developer.apple.com/documentation/uikit/uiviewcontroller/1621387-beginappearancetransition) and [`endAppearanceTransition()`](https://developer.app

[2018-01-07 19:57] daniel-jonathan commented on #24
I am going to make a fix for this today. Sorry about that. I was concerned about this happened.

[2018-01-07 19:59] OrkhanAlikhanov commented on #24
No worries :) Thank you for your support!

[2018-01-07 21:12] daniel-jonathan commented on #23
What I mean is, instead of the NavigationController, use a ToolbarController. You can have the same animations and fully control the Toolbar at top.

[2018-01-07 23:08] daniel-jonathan commented on #24
Please find a correct fix for this in [Material 2.13.3](https://github.com/CosmicMind/Material/releases/tag/2.13.3) and [Motion 1.3.3](https://github.com/CosmicMind/Motion/releases/tag/1.3.3).

[2018-01-07 23:08] #24 closed

[2018-02-01 05:17] Xenero opened #25 "Objective-C methods not available"
When trying to set an identifier in Obj-C the option to set the motionIdentifier does not exist. I have tried with setMotionIdentifier and with self.label.motionIdentifier.

Am I missing something?

[2018-02-01 05:20] ghost commented on #25
**Issue Resolved:**

- In Objective-C you MUST use #import <Motion/Motion-Swift.h>
- Using @import's will not work

[2018-02-01 05:20] #25 closed

[2018-02-03 21:14] daniel-jonathan commented on #25
@Xenero Thank you for sharing. I have added labels to help people find this solution more easily.

[2018-02-06 14:53] 1tatarchuk opened #26 "Minor typo in the description"
I just found a minor typo - "Corder Radius" )

<img width="311" alt="screen shot 2018-02-06 at 3 51 50 pm" src="https://user-images.githubusercontent.com/32768181/35865777-b7d4a0ec-0b55-11e8-8f17-c2865b9ffb4c.png">

[2018-02-07 19:50] daniel-jonathan commented on #26
Fixed and will be released in the next update. Thank you! Here is the commit d74082864a5df29e98eda1ddcdcec167aab5d805.

[2018-02-07 19:50] #26 closed

[2018-02-13 21:27] andrewc94 opened #27 "Using isMotionEnabled on BottomNavigationController/UITabBarController causes delegate methods to not be called"
It seems as though setting the delegate on a BottomNavigationController causes Motion to be disabled while enabling Motion causes delegate methods to not be called.

Material 2.13.5
Motion 1.3.4

[BottomNavigationController.zip](https://github.com/CosmicMind/Motion/files/1721754/BottomNavigationController.zip)

[2018-02-14 12:32] daniel-jonathan commented on #27
I will take a look at your sample. Thank you for sharing this issue.

[2018-02-24 02:53] LiMinglun opened #28 "Animation error when using .rotate in transition struct"
When uiview is rotated, half of the view disappears.

![img_0220](https://user-images.githubusercontent.com/31310711/36624921-fe7f31b6-1950-11e8-882d-ec85896f47d9.gif)

[2018-02-26 13:04] joergbirkhold opened #29 "Unbalanced calls to begin/end appearance"
I got this message when presenting this  Navigationcontroller.
"Unbalanced calls to begin/end appearance"
(The animation works as expected)
[code]

[2018-03-15 16:13] mlight3 opened #30 "Can I create custom transition?"
Can I create custom transition? Here is my interaction.
[code]

`bottomViewA` of VC_1 and `topViewB` of VC_2 is same view.
When VC_1 present VC_2, VC_1 and VC_2 is overwrapped with bottomViewA and then VC_1 is translated by y. It looks like scrolling effects.

So view layer looks like during transition
[code]

Here is my code
[code]

If I added fromViewSnapshot and toViewSnapshot to containerView,

[2018-03-15 19:41] daniel-jonathan commented on #30
Hey! Yeah... have you had a chance to read the README? Basically it sounds like adding some motion identifiers would do most of the work if not all for you. When a view in VC_A has an identifier, and then transitions to VC_B, if a view with the same identifier exists there, then it will animate automatically for you, so long as the `isMotionEnabled` property is set to `true`. There is a lot more y

[2018-03-31 15:33] Mahan3340 opened #31 "Swift 4.1 support (minor change)"

[2018-05-03 11:26] Tylerian commented on #31
@danieldahan Please consider this, my projects ain't building anymore without me editing the .pbxproj first each time I update carthage dependencies, I can make a pull request if you have no time to do it.

[2018-05-03 18:37] daniel-jonathan commented on #31
Have you tried the latest release of Motion? I built with the latest Xcode using it. Let me know and I will be happy to make the change, as I am making some releases today. Thank you!

<img width="1209" alt="screen shot 2018-05-03 at 12 38 38 pm" src="https://user-images.githubusercontent.com/9982123/39596224-f0772a70-4ece-11e8-919c-5e21891a6e09.png">

If this is not correct, please reopen the iss

[2018-05-03 18:39] #31 closed

[2018-05-03 18:45] #30 closed

[2018-05-05 15:36] Xenero opened #33 "IMPORTANT SWIFT SETTINGS"
I was running into multiple errors like below:

`.../Pods/Material/Sources/iOS/Font.swift:97:59: Cannot force unwrap value of non-optional type 'CGFont' .../Pods/Material/Sources/iOS/Material+NSMutableAttributedString.swift:40:39: Use of undeclared type 'NSAttributedStringKey' .../Pods/Material/Sources/iOS/Material+NSMutableAttributedString.swift:50:42: Use of undeclared type 'NSAttributedStringKe

[2018-05-07 17:45] daniel-jonathan commented on #33
Thank you for sharing this issue. Have you tried the latest release? What version are you currently running?

[2018-05-20 20:44] Gerst20051 opened #34 "Weak Should Not Be Applied In A Protocol"
Pods/Motion/Sources/Preprocessors/MotionPreprocessor.swift:33:5

'weak' should not be applied to a property declaration in a protocol and will be disallowed in future versions

`weak var motion: MotionTransition! { get set }`

[2018-05-24 17:04] daniel-jonathan commented on #34
Have you updated to the latest. This should have been all removed.

<img width="473" alt="screen shot 2018-05-24 at 1 04 06 pm" src="https://user-images.githubusercontent.com/9982123/40500513-fb5b5b84-5f52-11e8-8587-cfd7547a3d9d.png">

[2018-05-24 17:04] #34 closed

[2018-05-24 23:43] Gerst20051 commented on #34
Thank you for pointing me in the right direction. The problem was because the pod `Material` is using version `~> 1.3.0` so Material needs to update to use the latest version. Thanks again! https://github.com/CocoaPods/Specs/blob/master/Specs/d/9/2/Material/2.15.0/Material.podspec.json#L40

[2018-05-28 19:20] daniel-jonathan commented on #34
Ah, I will update the default. Thank you!

[2018-06-07 06:50] ajay2c9 opened #35 "Is there any possibility to install this framework like pod"
I want to install the framework using the pod. Is there any possibility to install this framework like pod

Thank you

[2018-06-07 17:39] daniel-jonathan commented on #35
Yes, if you want to install this framework on it's own, it has it's own pod.

http://cocoapods.org/pods/Motion.

All the best!

[2018-06-07 17:39] #35 closed

[2018-06-10 15:48] TheSwiftyCoder opened #36 "Issue with flickering on transitioning from VC"
Getting a huge flickering

I'm currently trying to transition from one VC1 to VC2 when a user clicks a cell. The transitions and their have been set to be the boxView cell of a collection view within VC1 to the background view of VC2. When I transition over to VC2 and back half of VC2 is missing from the transition. There's also an issue when I dismiss VC2 the boxView of VC1 collection view cell i

[2018-06-10 21:04] daniel-jonathan commented on #36
Hey! I'd be happy to help. Please send over a project that reproduces the issue. Also, what version of iOS, Material, and Xcode are you using? Thank you!

[2018-06-11 07:57] TheSwiftyCoder commented on #36
@danieldahan - Thanks, I managed to solve this with further trial and error. The configuration involved `.maskToBounds(), .cornerRadius(), .useScaleBasedSizeChange, + forceAnimate, to achieve the result.

[2018-06-11 08:27] TheSwiftyCoder opened #37 "Transition view overlaying other views with .zPosition applied"
I have a background view with the following applied to it inside the home controller:
              ` bkgd.isMotionEnabled = true
		bkgd.motionIdentifier = "bkgd"
		bkgd.transition([.spring(stiffness: 300, damping: 25), .duration(0.3), .beginWith(modifiers:[.zPosition(0)]), .useGlobalCoordinateSpace])`

And inside the transition to controller I have:
               `bkgd.isMotionEnabled = true
		b

[2018-06-11 09:37] TheSwiftyCoder commented on #37
Managed to solve this by adding the following to any view obscured by the animation:

On your top views add in (along with motionIdentifer etc): `transition([.beginWith(modifiers:[.zPosition(10)]), .useGlobalCoordinateSpace, .forceAnimate])`

On your background view (animating): `transition(.beginWith(modifiers:[.zPosition(0)]), .zPosition(0)])`

Hope that helps.

[2018-06-11 12:20] #36 closed

[2018-06-12 00:58] daniel-jonathan commented on #36
@TheSwiftyCoder awesome!

[2018-06-12 01:00] daniel-jonathan commented on #37
Thank you for sharing your solution. I appreciate both the issue and solution. All the best!

[2018-06-12 01:00] #37 closed

[2018-06-12 01:00] daniel-jonathan commented on #33
I am closing this as I have not heard any response. Thank you!

[2018-06-12 01:00] #33 closed

[2018-06-12 01:01] daniel-jonathan commented on #29
Hey! I am sorry it took so long to get back to you. I don't recall seeing this. Please, if you still have any issues, let me know. Thank you!

[2018-06-12 01:02] daniel-jonathan commented on #28
Hey! I am not sure why I have not seen this issue. If you still face a problem or any other, please let me know. Thank you!

[2018-06-12 01:02] #28 closed

[2018-06-12 01:03] daniel-jonathan commented on #27
@OrkhanAlikhanov Let's confirm if this is still an issue. Thank you and apologies for taking a very long time to respond.

[2018-06-12 02:27] ghost commented on #33
Apologies. I missed your response. I am running the latest version.

[2018-06-12 08:04] TheSwiftyCoder opened #38 "Slow animations when using present()"
I'm trying to simulate a button down -> button up animation before presenting the view controller and there's a noticeable delay before the present animation is called. I'm using UIView.animate and that is performing the animation smoothly. When it comes to present the controller using there's a delay of a couple of ms before it initiates.  I've tried various workarounds to solve this including th

[2018-06-12 17:00] daniel-jonathan commented on #38
You have a few things going on, but what sticks out to me is the `spring` animation. Sometimes it will create what looks like a delay because it needs to smooth out the animation. Also, you are using an async call and then calling UIView animation which forces the main thread to be blocked anyway, as UIView animations stop interactivity. Motion is built using CALayer animations which are non-block

[2018-06-12 17:00] #38 closed

[2018-06-12 17:02] daniel-jonathan commented on #33
No worries. Please send over a sample project that demonstrates this issue.

[2018-06-16 07:44] TheSwiftyCoder opened #39 "Shadow clipping when transitioning"
Currently trying have a shadow on a UIView within a UITableViewCell and when performing the transition the cell shadow clips until the end animation state. I have all the normal properties set to false (clipsToBounds etc).  First approach was to attach the shadow to the UIView layer and that worked until Motion was introduced to the UITableView:

`	boxView?.layer.shadowColor = Theme.Colors.shadow!

[2018-06-21 20:00] OrkhanAlikhanov commented on #27
@danieldahan I confirm that this issue is still there. I investigated it a bit. Here is my summary.

### The issue
Setting `isMotionEnabled = true` changes the `delegate` but does not forward the delegation methods to `previousTabBarDelegate`.
[code]

### Possible solution
I think forwarding delegation methods to the `tabBarController.previousTabBarDelegate` will solve the problem but I am unsure

[2018-06-27 16:59] daniel-jonathan commented on #39
Hey! Do you have a sample project we may try?

[2018-06-28 02:56] daniel-jonathan commented on #27
@OrkhanAlikhanov I believe this issue may be closed. Please take a look at [Motion 1.4.2](https://github.com/CosmicMind/Motion/releases/tag/1.4.2) to test if this is still an issue. Thank you!

[2018-06-28 02:56] #27 closed

[2018-06-28 02:58] daniel-jonathan commented on #39
Hey! I haven't heard from you. If this is still an issue, please reopen or create a new one. Thank you!

[2018-06-28 02:58] #39 closed

[2018-07-02 12:21] StepanetsDmtry commented on #29
So this bug is still present. For example, I have NavigationDrawer controller with ToolBarController as root view controller. Then I try to present modally SearchBarController, motion animation worked perfectly

[code]

But in log I see messages:
[code]

[2018-07-03 06:24] joergbirkhold commented on #29
Sorry for the delay too, but I also still see this.

[2018-07-05 00:14] daniel-jonathan commented on #29
I will see if I can replicate this issue. If you have a sample project that replicates this 100% of the time, I would appreciate it. Thank you for sharing the issue.

[2018-07-05 05:49] StepanetsDmtry commented on #29
Hello @danieldahan thank you for your fast reply. I have attached a sample project.

[SampleMotion.zip](https://github.com/CosmicMind/Motion/files/2165065/SampleMotion.zip)

In this project current issue representing in 100% of the time.

[2018-07-09 15:18] edon2005 opened #41 "transparent background navigationcontroller"
HI,

I have a strange problem. If I make transition by navigation controller from 1 to 2 view controller and 2nd viewcontroller has a transparent background so it get for some ms black. but it is possible to observe. Do you know how to solve it?

Thanks.

[2018-07-09 16:00] daniel-jonathan commented on #41
I would be happy to help, please connect on [Material Gitter](https://gitter.im/CosmicMind/Material). Thank you!

[2018-07-09 16:00] #41 closed

[2018-07-16 14:39] daniel-jonathan commented on #29
@OrkhanAlikhanov Let's take a look at this.

[2018-07-19 18:53] daniel-jonathan commented on #29
This is now fixed in [Motion 1.4.3](https://github.com/CosmicMind/Motion/releases/tag/1.4.3). Thank you!

[2018-07-19 18:53] #29 closed

[2018-07-20 06:29] StepanetsDmtry commented on #29
Thank you too! Great work!

[2018-07-26 19:55] OrkhanAlikhanov opened #43 "Update to Swift 4.2"
The development branch seems to be updated to swift 4.2 but `.podspec` file should also have `swift_version = '4.2'`

Current .podspec:
https://github.com/CosmicMind/Motion/blob/01326135e33f5f4d6d751a634d7463cf39864dbc/Motion.podspec#L2-L4

[2018-07-27 13:37] laubengaier opened #44 "View is hidden below status bar when a call is active"
Hi,

When making a transition to a detail viewcontroller with motion while calling and switching back to the main viewcontroller the main viewcontroller will jump up and leaves a 20px gap at the bottom. I put up a example project to reproduce it:

https://github.com/laubengaier/MotionTest

![simulator screen shot - iphone se - 2018-07-27 at 15 35 43](https://user-images.githubusercontent.com/17570

[2018-07-27 13:38] OrkhanAlikhanov commented on #44
Thank you! We will investigate this.

[2018-07-27 22:55] OrkhanAlikhanov commented on #44
This seems to be iOS bug but I believe we can workaround this.

Here is what is going on under the hood:

When in-call/hotspot/recording status bar (let's call it **thick** status bar) is enabled/disabled, `frame.origin.y` of the topmost view in the `window` subview hierarchy (`rootView`) is increased/decreased by 20. So the thick statusBar only changes `rootView`'s `y` position

When we do a moda

[2018-07-31 21:49] #43 closed

[2018-07-31 21:50] daniel-jonathan commented on #44
The fix for this is now in the `development` branch. Thank you @OrkhanAlikhanov. A Release will be ready tomorrow.

[2018-07-31 21:50] #44 closed

[2018-08-03 14:51] laubengaier commented on #44
@OrkhanAlikhanov thanks for your well explained reply I appreciate it. I'll try the fix today.

[2018-08-16 01:02] jondwillis opened #46 "What is this library's relationship to Hero?"
I notice that a lot of the APIs are the same, with some minor changes. Is this a fork of https://github.com/HeroTransitions/Hero ?

[2018-08-16 01:04] daniel-jonathan commented on #46
Good question.

Originally I wrote my own `Hero` type framework, and then `rewrote` a version from Hero and stuck with the `Hero` one as it was more robust. Now it has no relationship really.

[2018-08-16 01:04] #46 closed

[2018-08-16 05:18] jondwillis commented on #46
Okay, cool. BTW, it made transitioning over a breeze! I wanted to use your one-off animation syntax as well as Hero-like features and using just the Motion library reduces the number of libraries I am using. Some of Hero's syntax has changed since the point you "forked" it, namely putting everything into a `.hero` extension on UIViews et al. for cleanliness.

For possible future people coming in f

[2018-08-16 14:39] daniel-jonathan commented on #46
@jondwillis Awesome! Please feel free to make any suggestions. Our aim is to continue expanding the framework.

[2018-08-16 14:56] OrkhanAlikhanov commented on #46
@jondwillis Each file has mentioned original author of the code. By having a separate library `Motion`, we easily integrate and maintain it with `Material` framework. Also, Motion has some fixes that Hero lacks. `https://github.com/HeroTransitions/Hero/issues/222`

[2018-08-27 01:45] danieldahan opened #47 "Make video for Motion."
This should be creative in showing the different animation styles.

[2018-08-27 01:51] #47 closed

[2018-08-27 02:00] eldeibit opened #48 "motion intro"
this would be part of the identity of cosmic mind

[2018-09-19 07:10] pockerhead opened #52 "control interactive transition"
Hello! How can I control an interactive transition? In Hero we can do this like:

`

    @objc func pan(gr: UIPanGestureRecognizer) {

        let translation = gr.translation(in: self)

        switch gr.state {
        case .began:
            parentViewController?.dismiss(animated: true, completion: nil)
        case .changed:
            Hero.shared.update(translation.y / bounds.height)

[2018-09-19 19:25] OrkhanAlikhanov commented on #13
Is this like [`CAAnimation.repeatCount`](https://developer.apple.com/documentation/quartzcore/camediatiming/1427666-repeatcount)?

[2018-09-19 19:28] OrkhanAlikhanov commented on #52
They are not commented out, it's just an informational comment. Actual code is in [`MotionTransition+Interactive.swift`](https://github.com/CosmicMind/Motion/blob/master/Sources/Transition/MotionTransition%2BInteractive.swift) file. But they are not marked as public. There are some bugs for interactive transition stuff right now. We are working on it and for next release it will be available.

[2018-09-19 19:31] daniel-jonathan commented on #13
It would be like a loop, or repeat the animation `x` number of times.

[2018-09-19 19:33] daniel-jonathan commented on #52
We will leave this open until the feature has been completed.

[2018-10-03 13:34] OrkhanAlikhanov commented on #52
`development` branch now contains all the necessary code for interactive transitions.

[2018-10-04 19:09] daniel-jonathan commented on #52
@OrkhanAlikhanov thank you, and @pockerhead if you would like to join our `Slack` channel to give feedback and learn about how to use it best, send your email to `support@cosmicmind.com`.

[2018-10-04 19:09] #52 closed

[2018-10-15 13:20] Banck opened #56 "Stop and remove all animations"
Hello!
How can I remove all animations from my view?
I've tried to do
`myView.layer.removeAllAnimations()`
But seems it doesn't work properly. I've found method `removeAllMotionAnimations` in your extension for CALayer, but it is marked as internal.

[2018-10-15 13:25] Banck commented on #56
Um, as I see `removeAllMotionAnimations` just removes all animations from layer, which have prefix "motion". So  `removeAllAnimations()` should works fine, seems my issue in something else.

[2018-10-15 13:30] Banck commented on #56
I've tried to do
[code]
but `myView` did the animation anyway.

[2018-10-15 13:32] OrkhanAlikhanov commented on #56
Hey! Try `development` branch, the issue is fixed in https://github.com/CosmicMind/Motion/commit/14e27b97d09289a69e6ddfa34d8f66c7c22c69ec I believe. View is updated and animations are removed on completion so everything stays in sync.

[2018-10-15 13:35] OrkhanAlikhanov commented on #56
The reason for `myView.layer.removeAllAnimations()` not removing the animations is that they are not added yet. `animate()` queues animations to be added in main thread.

[2018-10-15 13:39] daniel-jonathan commented on #56
Thank you @OrkhanAlikhanov, @Banck if you need further help, please reopen or create a new issue.

[2018-10-15 13:39] #56 closed

[2018-11-21 22:40] RobertoRiquelme opened #57 "Update to Swift 4.2"
Update to Swift 4.2.
The conversion with Xcode 10 is automatic, and we'll be very happy.

Thanks!

[2018-11-21 22:46] #57 closed

[2019-01-13 22:32] andrealufino opened #58 "Animate back to original state"
Hello. I'm using Motion to achieve a rotation effect on a button. This is what I'm doing :
[code]

When I need to rotate back the button, I'm not able to achieve the "back" animation. How can I do? It seems the button starts always from the original position.

[2019-01-14 05:34] OrkhanAlikhanov commented on #58
Hey! If you want to just revert the rotation to the original state just do:
[code]

Or:
[code]

`.rotation`, `.scale`, `.translate` all works through `view.layer.transform`. [Here is nice explanation](https://stackoverflow.com/q/34438889/)

[2019-01-14 10:58] andrealufino commented on #58
Great! Thanks!

[2019-01-14 10:58] #58 closed

[2019-01-31 14:28] Banck opened #60 "issue with interactive transition"
Hello!
Brach: Development.
Version: 2.0.0
Issue: I have a UINavigationController with some viewControllers. And I have a PhotoController which will dismiss interactively.
PhotoController has `modalPresentationStyle = .custom`.
Simple code for interactive dismiss:
[code]

The issue is if `MotionTransition.shared.cancel()` is called, then `viewWillDisappear` will be called on the previous controller

[2019-01-31 18:56] daniel-jonathan commented on #60
Thank you for bringing this to our attention. @OrkhanAlikhanov will you take a look at this? Thanks buddy!

[2019-03-25 14:46] mumensh opened #62 "Application freeze when closing app while transition"
Hi,

The issue is that if there is a motion transition happening and the user closed the app, the application stuck when open it again and can't do anything with it.

[2019-03-25 15:05] daniel-jonathan commented on #62
@mumensh thank you for sharing this issue. What version of Motion are you using? As well, if you are using Material in conjunction... what version are you using there?

[2019-03-25 15:06] OrkhanAlikhanov commented on #62
Hey @mumensh! I could not able to reproduce it. Can you provide a sample app reproducing it? Also as mention by @danieldahan please specify your Motion version.

[2019-03-25 16:14] mumensh commented on #62
Hey @danieldahan & @OrkhanAlikhanov , thank you for your quick reply.

I've attached an example project for the bug, it's depending on cocoapods

I'm using the development branch and the version of Motion and Material is:
  - Material (3.0.0):
    - Material/Core (= 3.0.0)
  - Material/Core (3.0.0):
    - Motion (~> 2.0.0)
  - Motion (2.0.0):
    - Motion/Core (= 2.0.0)
  - Motion/Core (2.0.0)

I'

[2019-03-25 16:16] daniel-jonathan commented on #62
@mumensh Thank you, we will look into this as we prepare for pushing the `development` branch to `master` for release.

[2019-03-25 16:28] OrkhanAlikhanov commented on #62
I couldn't play with your code too much but here is a problem that I see in your code: "You are not handling all ` UIGestureRecognizer.State`s. Especially 2 cases:
[code]
When those cases happen you need to call either `MotionTransition.shared.cancel()` or `MotionTransition.shared.finish()`.

I think `cancelled` state happens when the gesture is interrupted, like a phone call received or user hits

[2019-03-25 16:44] mumensh commented on #62
@OrkhanAlikhanov You are right, I've implemented the `cancel` state, the issue gone, thank you.

[2019-03-25 16:44] #62 closed

[2019-03-25 16:50] OrkhanAlikhanov commented on #62
Cool! We understand that we need to document the features and write guides so that developers don't lose their time on discovering features and using the framework in unintended ways. We are working towards that! Thank you!

[2019-03-31 18:01] OrkhanAlikhanov commented on #60
Hey @Banck, this should be fixed in #63. Thank you for your patience :)

[2019-04-01 13:21] mumensh commented on #60
@OrkhanAlikhanov When using `modalPresentationStyle = .overCurrentContext`, your PR fix is not working, I've got the same case, in `.custom`, it will work fine

[2019-04-01 13:45] OrkhanAlikhanov commented on #60
@mumensh Can you please send a sample app here?

[2019-04-02 09:45] mumensh commented on #60
@OrkhanAlikhanov Here is a sample for the issue, try run the project and tap on the images then try to dismiss them by panning in the first tab, then go to the second tap and try to tap on the images, it will not work. if you change the `modalPresentationStyle` to `.custom`, it will work fine.

[motionBug.zip](https://github.com/CosmicMind/Motion/files/3033300/motionBug.zip)

[2019-04-02 13:33] OrkhanAlikhanov commented on #60
Hey @mumensh I played with your project.

1. I believe you wanted to use `.overFullScreen` not `.overCurrentContext`.
2. There is no need to `break` at the end of each `case` in swift.
3. I removed your `SecondViewController`.
4. I renamed your `ThirdViewController` to `ImageViewController`.
5. #63 Is meant to `fix unbalanced calls appearance method` logs issue, which is not an issue for your case

[2019-04-26 13:41] daniel-jonathan commented on #60
@OrkhanAlikhanov Thank you very much :)

[2019-04-26 13:41] #60 closed

[2019-05-16 08:22] karmactonics opened #66 "Swift5 Support"
Is this library planned to support Swift 5?

[2019-05-16 13:13] daniel-jonathan commented on #66
Hey! I will be preparing it today. Please follow this issue https://github.com/CosmicMind/Material/issues/1209. Thank you!

[2019-05-16 13:13] #66 closed

[2019-05-23 13:08] EmreSURK opened #67 "The "Material - It's time to download" link is boken."
It gives 404 error.

[2019-05-23 19:45] daniel-jonathan commented on #67
@EmreSURK Hey! Sorry about that. We are going through a big change with our documentation. Anything I can help you with in regards to obtaining Material? Or is this a helpful issue for us to know? Thank you! Also, you are asking about Material in Motion's repo. Is this about Motion or Material for you, or both?

[2019-05-24 01:08] sejr opened #68 "Add installation instructions"
I am excited to try this out after having used Hero in the past. I spent a few minutes reading the README looking for a quick snippet to add to my Podfile, but alas, none exists. I'd recommend adding it. :)

Thanks for the effort you have put into this!

[2019-05-24 16:07] daniel-jonathan commented on #68
@sejr Thank you :) I am excited for you to try it too. We are working on an entirely new documentation portal, .... well actually our first documentation portal, and we are inches away from making it a reality. Sorry the README is lagging. For now, you should be able to use this:

I will add this to the README :)

## CocoaPods

[CocoaPods](http://cocoapods.org) is a dependency manager for Cocoa pr

[2019-05-24 16:07] #68 closed

[2019-05-24 16:08] daniel-jonathan commented on #67
Take a look at this, and I am adding this to the README now.

## CocoaPods

[CocoaPods](http://cocoapods.org) is a dependency manager for Cocoa projects. You can install it with the following command:

[code]

To integrate Motion's core features into your Xcode project using CocoaPods, specify it in your `Podfile`:

[code]

Then, run the following command:

[code]

## Carthage

Carthage is a decen

[2019-05-24 16:08] #67 closed

[2019-05-25 06:00] sejr opened #69 "Pan gesture not being applied correctly."
Hey all,
I am working on a view that has multiple gestures: Pan, Pinch, and Rotate. Pinch and Rotate work fine, but the Pan gesture is having issues. Code snippet below; I am able to print out the value of `translation` and it looks right, but the MotionModifier doesn't seem to be working.

[code]

[2019-05-25 08:54] OrkhanAlikhanov commented on #69
Hey!

Did you properly implement [`gestureRecognizer(_:shouldRecognizeSimultaneouslyWith:)`](https://developer.apple.com/documentation/uikit/uigesturerecognizerdelegate/1624208-gesturerecognizer)? [See if not](https://developer.apple.com/documentation/uikit/touches_presses_and_gestures/coordinating_multiple_gesture_recognizers/allowing_the_simultaneous_recognition_of_multiple_gestures)

Also `.tra

[2019-05-25 14:50] sejr commented on #69
It sounds like this is what my issue is; I’m applying these modifiers in separate functions.

Not sure if I’m following this. But if I’m able to use a single responder function for each of these gestures, I should be able to apply all of the modifiers in a single `apply` call right?

[2019-05-25 15:30] OrkhanAlikhanov commented on #69
Following should work (I am not sure about scaling)
[code]

[2019-05-25 19:37] daniel-jonathan commented on #69
@OrkhanAlikhanov thank you buddy!

[2019-05-25 19:37] #69 closed

[2019-06-10 16:21] StefaniOSApps opened #70 "can not set motionNavigationTransitionType in objc"
how to set motionNavigationTransitionType in objc?

`[[self navigationController] setIsMotionEnabled:YES];` works, but

`[[self navigationController] setMotionNavigationTransitionType:MotionNavigationTransitionTypeAuto];` not working

could you add @objc support? thx.

[2019-06-10 16:34] OrkhanAlikhanov commented on #70
Hey! It has been 5 years that swift is available. I think we don't support objective c anymore in favor of new features of swift which are not available in obj c. Thank you!

What do you think @danieldahan?

[2019-06-10 16:40] daniel-jonathan commented on #70
@OrkhanAlikhanov yes that is correct, Swift has been out for a while, but that said, there are still projects out there that need Obj-C support by design.... not necessarily by desire. If it is as simple as adding `@objc` to the declaration, I don't see why adding it would be an issue. If it is a feature solely in Swift, well then we can't do anything about that. Thoughts?

_Originally posted by @

[2019-06-10 16:43] StefaniOSApps commented on #70
All frameworks of Apple Inc. are written  in Obj.-C. Yes, there are advantages in Swift but also many disadvantages. I only write UI in Swift and Classen in ObjC. It would be nice, if you provide at least basic functions in ObjC like other frameworks. I am of the opinion that this is the case here. Adding @objc should not be a big problem. Otherwise, I would have to create a repo because of this o

[2019-06-10 16:46] daniel-jonathan commented on #70
@StefaniOSApps your issue is one of 1200+ issues we solve, think about, and discuss... ultimately the easiest solution is to PR and provide reasoning... comparing our framework to others as a form of motivation is bad form in my opinion... personally we don't compare our thoughts of Obj-C to yours, we only aim to reason about them. Also, we are very familiar with how Apple does their work, conside

[2019-06-10 17:11] daniel-jonathan commented on #70
@StefaniOSApps a PR with updates to fix your issue will be available later today, or latest tomorrow. Thank you!

[2019-06-10 17:30] OrkhanAlikhanov commented on #70
`MotionTransitionAnimationType` enum has some complex cases that cannot be represented in obj-c. I'll look into it more if I can work around.

https://github.com/CosmicMind/Motion/blob/cb489ea37adff56f805755b285e2e1721adaf9ea/Sources/Preprocessors/TransitionPreprocessor.swift#L28-L50

[2019-06-10 18:06] StefaniOSApps commented on #70
Ok, I understand the problem. Thanks anyway, for watching it. You could extract single enums and only provide them in ObjC. Thus, a function that refers in Swift back to the original function.

[2019-06-11 16:10] daniel-jonathan commented on #70
@StefaniOSApps how about you provide a PR with your desired solution and we will review it? It seems that you have this well understood.

[2019-06-12 02:52] StefaniOSApps commented on #70
ok, I work on it. Could you change state to pending? thx.

[2019-06-12 16:46] daniel-jonathan commented on #70
Thank you @StefaniOSApps :)

[2019-06-18 17:03] StefaniOSApps commented on #70
now I replaced this local var to a void function, which is splittet in with and without a direction. I think its ok. If you want renamings so I reupload this PR without the custom UI.

[2019-06-19 13:45] daniel-jonathan commented on #70
@StefaniOSApps thank you. We are currently working on some new tech for the community, and will add this to the queue for review and feedback, otherwise, merge it in.

[2019-09-06 02:24] gouen95 opened #72 "Having trouble animating ImageView of different contentMode and Size"
Hi, I've a 1:1 square ratio of imageView with contentMode of scaleAspectFill and another screen to be transition into which contain another imageView (with the same identifier and image) with contentMode of scaleAspectFit and 9:16/1:2 ratio (iphone common ratio).

The whole transition of the 1:1 imageView is a stretch out and fade away..

Edit : scaleAspectFill is causing the stretching effect due

[2019-09-09 12:53] roteirod opened #73 ".hidesBottomBarWhenPushed = true smooth transition when pushing"
I use UITabBarController and UINavigationController in my app. I am pushing another view using custom transition and in need to hide tab bar after push. But I can't make it smooth, it just disappears immediately when the second view controller is pushed

[2019-09-09 13:08] daniel-jonathan commented on #73
Hi @roteirod thank you for sharing your issue. Can you share your setup code or sample project that we may play with and help you out?

[2019-09-09 13:09] daniel-jonathan commented on #70
@adamdahan @OrkhanAlikhanov what are we thinking about this issue?

[2019-09-09 13:10] daniel-jonathan commented on #13
@adamdahan this would be a really cool feature.

[2019-09-09 13:20] OrkhanAlikhanov commented on #70
Hard to tell. I am for not dealing with supporting ObjC

[2019-09-09 13:24] daniel-jonathan commented on #70
I agree with @OrkhanAlikhanov. It also seems that Apple is not for dealing with it either. I would say that we can officially stop adding support for it, and in Material 4, go solely with Swift, if @adamdahan agrees.

[2019-09-09 14:03] adamdahan commented on #70
@danieldahan You have my blessing! The world is moving away from Objc - even though I love it :) @StefaniOSApps Perhaps you can migrate some of your view controllers to Swift one file at a time and begin the process of modernizing your application 👍

Thank you for making us aware - we appreciate it a lot :)

[2019-09-09 14:03] #70 closed

[2019-09-09 14:06] adamdahan commented on #13
@danieldahan Let's chat more context. !

[2019-09-09 14:38] roteirod commented on #73
Here is what I do in my first viewController which is inside a navigationController inside a tabBarcontroller
[code]

I also setup all the identifiers for transition here
[code]

Then I push the second viewController
[code]

Where I do this
[code]

The transitions which I set identifiers for work amazingly. But the tab bar is visible for a fraction of time after the transition and then disappears

[2019-09-09 14:47] adamdahan commented on #73
@roteirod It is really difficult for us to experience this issue first hand to help you with a fix. We would literally have to replicate the situation of your controllers by hand in order to test it. Without a sample project it's hard to diagnose.

I would suggest: Take your storyboard & Accompanying view controllers and put them into a new simple project that demonstrates the issue first hand.

T

[2019-09-09 15:08] daniel-jonathan commented on #13
Definitely :)

Basically the idea is to create a loop for animations that a developer may set. This is not of high priority, but would be a nice feature. We can plan it out accordingly, and actually, I think we should close this until the need actually comes up. So for now, keep it in mind.

[2019-09-09 15:08] #13 closed

[2019-09-09 15:24] roteirod commented on #73
Ok, I set up a primitive project which has the same structure as my main one:

![ezgif-5-e2e652d53d34](https://user-images.githubusercontent.com/36671280/64544045-fdb58980-d32e-11e9-8ffb-1cc270c1ad24.gif)

[tabbarissue.zip](https://github.com/CosmicMind/Motion/files/3591283/tabbarissue.zip)

[2019-09-09 15:25] roteirod commented on #73
The gray thing is a Tab Bar :D

[2019-09-09 15:26] adamdahan commented on #73
@roteirod wonderful. Will get back to you as soon as possible :)

[2019-09-09 15:27] roteirod commented on #73
Thank you so much!

It does not look that bad on this gif. But it is worse if you run the project. Can I get a smooth fadeOut-fadeIn animation for Tab bar somehow?

[2019-09-10 09:13] roteirod opened #74 "Motion affects other 3-rd party animation libraries"
Hi there! Firs of all, I want to say that I love Motion a lot, it is a great thing which allows developers to do awesome stuff in their apps. I want to use it in our project a lot, but I am currently having several issues, and I would like to help finding and fixing them...

   Along with Motion, I am using NVActivityIndicatorView, and I noticed that after several Motion transitions, my NVActivity

[2019-09-10 11:03] OrkhanAlikhanov commented on #74
Hey! Thank you for the issue! I've checked the both `Motion` and `NVActivityIndicatorView` sources (not tried your app, do not have proper xcode right now). I have no clue what happens there that causes lag in our side.

In the Hero issue you linked, someone posted that  `beginTime = CACurrentMediaTime()` causes issue. Can you try `. ballClipRotatePulse` animation in your `NVActivityIndicatorView`

[2019-09-10 11:11] roteirod commented on #74
It acts the same with `. ballClipRotatePulse`...

[2019-09-11 15:35] adamdahan commented on #73
@roteirod Ok fixed.

In Motion... you need to have a starting point for the animation. Let's call that animate from: then you need to have an finish point for the animation let's call that animate to:

In the case of your button you have two corresponding motionIdentifiers assigned "view". So the animation works as expected.

But in the case of the tabBarController.tabBar = you have no such tab ba

[2019-09-11 15:35] #73 closed

[2019-09-11 15:38] adamdahan commented on #73
@roteirod Feel free to play with the animation fade duration to suit your needs :)

[2019-09-11 16:07] adamdahan commented on #73
@roteirod i've edited my answer to give you a smooth animation that has the same duration as your red box. See above example again.

[2019-09-11 16:14] adamdahan commented on #72
@gouen95 Can you provide me with a small sample project? happy to take a crack at a fix for you :)

[2019-09-11 16:14] adamdahan commented on #74
@roteirod This will take some time to solve. I will setup a workspace with NVActivityIndicatorView shortly.

[2019-09-11 16:47] roteirod commented on #73
That's awesome, thank you!

[2019-09-11 16:47] adamdahan commented on #73
Np! @roteirod

[2019-09-14 18:48] adamdahan commented on #72
@gouen95 Feel free to open this ticket again with some sample code 👍

[2019-09-14 18:48] #72 closed

[2019-09-16 11:30] tigloo opened #75 "Transition always uses zoom effect"
I'm trying to create a similar onboarding workflow as PaperOnboarding but want to use Motion for the animation and transition work. When transitioning from one onboarding page to the next, Motion always applies the zoom effect and I don't seem to be able to override that.

I've added a sample project to illustrate the issue I'm having.

The structure is as following:
- OnboardingViewController: co

[2019-09-19 16:14] daniel-jonathan commented on #75
Hi @tigloo, I will investigate the reason *zoom* is always on. Check-in with me in a couple days if you don't hear from me. Thank you!

[2019-09-23 12:24] tigloo commented on #75
Hi @danieldahan, just pinging to get your attention. Thanks for taking a look!

The effect can also be seen at the page indicators at the bottom which translate and zoom at the same time.

[2019-09-23 12:32] roteirod commented on #74
Hey! Do you have some update on the issue? Can't wait to start using your library in our app.. :)

[2019-09-23 14:11] daniel-jonathan commented on #74
Hi @roteirod looking at this today. Sorry for any delays.

[2019-09-23 14:11] daniel-jonathan commented on #75
Hi @tigloo looking at this today. Sorry for any delays.

[2019-10-07 09:08] sungwoochang opened #77 "UITabbar overlay"
Transition object appears front of TabBar after dismissing second view controller.

[2019-10-07 09:24] sungwoochang commented on #75
having same issue

[2019-10-11 09:57] tigloo commented on #75
@danieldahan, do you have any updates on this issue? Were you able to reproduce it?

[2019-10-17 09:19] roteirod commented on #74
Hey, guys! Any progress on this issue?

[2019-10-17 15:25] daniel-jonathan commented on #74
@roteirod Hey, sorry no, there hasn't been any progress. We have been so busy with other work, that we haven't had a chance to look into this.

[2019-10-17 15:30] daniel-jonathan commented on #75
Sorry, we haven't had a chance to look into this issue. We will shortly. Thank you!

[2019-10-18 07:53] roteirod commented on #74
Ok... Let me know when you look into it

[2019-10-28 13:14] tigloo commented on #75
Any updates on this? Thanks!

[2019-11-05 01:52] weixianlove opened #78 "UINavigationControllerDelegate make is not work"
[code]
[code]
while i use UINavigationControllerDelegate, motion not work

[2019-11-05 12:57] danieldahan commented on #78
Hey! You are removing the delegate from Motion. If you want it to work, you need to leave the delegate intact.

[2019-11-05 12:57] #78 closed

[2019-11-05 14:01] OrkhanAlikhanov commented on #78
self.isMotionEnabled = YES;
    self.delegate = self;

Should be in reverse order:

    self.delegate = self;
    self.isMotionEnabled = YES;

[2019-11-06 01:27] weixianlove commented on #78
I can't push, because this delegate never in
[code]

[2019-11-13 07:42] tigloo commented on #75
@danieldahan It's been about two months - is there anything you can do?

Would also be grateful for any pointers to debug and patch this myself. I stepped through the code but I'm not quite clear on where effects are assigned and retrieved. If you can share any thoughts on where you think it goes wrong, that would also help.

[2019-11-13 10:40] OrkhanAlikhanov commented on #75
Hey! Sorry. I checked the sample app you provided, and it took some time for me to clean it up and see the real issue. Please, always try to provide [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)

Removing following `translatesAutoresizingMaskIntoConstraints` lines fixes the zoom issue:
[code]
Motion takes size of the image view with identifier `pageImage` from the `fromViewCo

[2019-11-13 16:42] daniel-jonathan commented on #75
@OrkhanAlikhanov  thank you very much for looking into this. Awesome work!

[2019-11-13 16:42] #75 closed

[2019-11-13 18:42] tigloo commented on #75
Thanks a lot for your help, @OrkhanAlikhanov! Sorry for not being more minimal on the example, I was unable to reproduce it in a smaller sample and couldn't pin point it in what I provided.

I'm not seeing the cross-fade in the image yet but the other widgets work as expected - so should be able to work from here. Thanks!

[2019-11-13 18:46] OrkhanAlikhanov commented on #75
I apologize if I sounded harsh, reading my comment now and it sounded a bit harsh to me lol. Glad that it helped!

[2020-03-25 18:15] emrecanozturk opened #80 "Interactive transition with UINavigationController"
I can make interactive transition to back with gesture but when I want to use the back tracking swipe with UINavigationController there is no interactive transition to go back. Could I use UINavigationController back swipe and interactive transition to back for the same UIViewController ?

[2020-03-27 06:49] #80 closed

[2020-05-04 18:25] guidedways commented on #52
Just wondering if there's documentation on how to perform interactive transition on a UINavigationController using Motion?

[2020-05-21 04:11] inPhilly commented on #70
That's too bad. Many developers that started early on and have very large projects still maintain them in objective-c. We are not vocal, but there are more than a few of us out there. I am in the process of migrating to Swift, slowly, but the controllers I need this in are still in Objective-C. It would be nice if this worked with them, and then when I migrate, I could keep using this. Now I will

[2020-05-22 04:59] amit2908 commented on #74
Is this issue resolved ?  I am looking for a library that doesn't breaks other animation libraries.

[2020-09-21 01:21] Harryjeffs opened #81 "Swift package manager support"
I was just wondering if adding support for SPM was in the pipeline? Cheers

[2022-09-20 13:33] santirodriguezaffonso opened #82 "Swift 5.7 support?"
<img width="980" alt="Screen Shot 2022-09-20 at 10 13 11 AM" src="https://user-images.githubusercontent.com/100100565/191268238-92cf490d-1d0a-48bf-9f2c-7cdf9b611ee3.png">

[2022-11-22 19:21] #82 closed